# ARRAY

Array can be though of as a container hold a fixed number of data vales of same type. 

array consists of 2 componenets - Element and Index

In [13]:
from array import *

In [14]:
dir(array)

['__add__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'buffer_info',
 'byteswap',
 'count',
 'extend',
 'frombytes',
 'fromfile',
 'fromlist',
 'fromstring',
 'fromunicode',
 'index',
 'insert',
 'itemsize',
 'pop',
 'remove',
 'reverse',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'tounicode',
 'typecode']

In [16]:
arr = array('i' , [2,4,6,8 ])

In [19]:
arr  # the i represent the data type of the value. here it represent integer

array('i', [2, 4, 6, 8])

In [20]:
type(arr)

array.array

# Visualizing an array

Index start with 0.

Array length explain how much value store.

array can hold value with single data type.

each element can be accessed via its index

In [21]:
arr[2]

6

In [22]:
arr[0]

2

# Manipulating Array

In [25]:
# Inserting an element at the beginning

arr.insert(0,20)  # 0 means index number

In [26]:
arr

array('i', [20, 20, 2, 4, 6, 8])

In [27]:
# Inserting an element at the index 3

In [28]:
arr.insert(3,60)

In [29]:
arr

array('i', [20, 20, 2, 60, 4, 6, 8])

In [30]:
arr.remove(20)

In [31]:
arr

array('i', [20, 2, 60, 4, 6, 8])

In [32]:
arr.remove(60)

In [33]:
arr

array('i', [20, 2, 4, 6, 8])

We can update an element at the specific index using the assignment operator
= in the following manner:

In [34]:
# Update an element at index 1

In [35]:
arr[0]= 1

In [36]:
arr

array('i', [1, 2, 4, 6, 8])

In [37]:
# Update an element at index 3

In [38]:
arr[3]= 7

In [39]:
arr

array('i', [1, 2, 4, 7, 8])

# Tuples

It place all elements within brackets ().

Like arrays, tuples also
hold multiple values within them separated by commas.

it also
allows storing values of different types together.

Tuples are immutable, and
usually, contain a heterogeneous sequence of elements that are accessed
via unpacking or indexing.

In [40]:
# Creating a tuple 'tup' with elements of the same

In [41]:
tup = (1,2,3)

In [42]:
tup

(1, 2, 3)

In [43]:
# Verifying the type

In [44]:
type(tup)

tuple

In [45]:
# Creating a tuple 'tupl' with elements of different data

In [46]:
tup1 = (1 , 'a' , 2.5)

In [47]:
tup1

(1, 'a', 2.5)

In [48]:
# Creating a tuple without brackets

In [49]:
tup = 1,12 , 3

In [50]:
tup

(1, 12, 3)

We can repeat a value multiple times within a tuple as follows:

In [53]:
tup2 = (1,) * 5 # Note trailing comma

In [54]:
tup2

(1, 1, 1, 1, 1)

# Accessing tuple elements

In [55]:
# Access an element at index 0

In [56]:
tup[0]

1

In [57]:
# Access an element at index 2

In [58]:
tup[2]

3

# TUPLE Immutability

In [59]:
tup[1] = 10

TypeError: 'tuple' object does not support item assignment

# Concatenating Tuples

In [60]:
t1 = (1 , 2 , 3)

In [61]:
t2 = (4 , 5)

In [62]:
t1 + t2

(1, 2, 3, 4, 5)

Tuples can be concatenated using operators *= and +=.

In [63]:
t1 += 4 , 5

In [64]:
t1

(1, 2, 3, 4, 5)

# Unpacking Tuples

In [65]:
tup

(1, 12, 3)

In [66]:
x, y, z = tup  # The above statement performs the unpacking operation. It will assign the
# value 1 to the variable x, 12 to y, and 3 to z.

In [67]:
x

1

In [68]:
y

12

# Tuple methods

1 - index() : This method returns the index of the element

2 -  count() : This method counts the number of occurrences of a value.

In [69]:
tup.index(3)

2

In [70]:
tup = (1, 1, 1, 1, 1)

In [71]:
tup.count(1)

5

# Lists

A list is a data structure that holds an ordered collection of items i.e. we
can store a sequence of items in a list.

lists are created by placing
all items within square brackets [] separated by comma.

In [72]:
# Empty list

In [73]:
list = []

In [74]:
list

[]

In [75]:
# List with integers

In [76]:
list_b = [1, 2, 3]
list_b

[1, 2, 3]

In [77]:
# List with mixed data types

In [78]:
list_c =[1, 2.5, 'hello']
list_c

[1, 2.5, 'hello']

# Nested list - 

A list can also have another list as an item. This is called nested list.

In [79]:
a_list = [1, 2, 3, ['hello', 'stock'], 4.5]

In [80]:
a_list

[1, 2, 3, ['hello', 'stock'], 4.5]

# Accessing List Items

In [82]:
stock_list = ['HP', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AMZN', 'NFLX']

In [83]:
# Accessing an element at index 2

In [84]:
stock_list[2]

'TSLA'

In [85]:
# Accessing multiple elements using slicing

In [86]:
stock_list[1:4]

['GOOG', 'TSLA', 'MSFT']

In [87]:
# Accessing last element using negative index

In [88]:
stock_list[-1]

'NFLX'

# Updating Lists

Unlike tuples, lists are mutable. That is, we can change the content even
after it is created.

In [89]:
# Updating the first element

In [90]:
stock_list[0] = 'NVDA'

In [91]:
# Updating the last three elements

In [92]:
stock_list[-3:] = ['AMD', 'GE', 'BAC']

In [93]:
stock_list

['NVDA', 'GOOG', 'TSLA', 'MSFT', 'AMD', 'GE', 'BAC']

# append(element)

method adds a single element to the end of the list.
It does not return the new list, just modifies the original list.

In [94]:
stock_list.append('AMZN')

In [95]:
stock_list

['NVDA', 'GOOG', 'TSLA', 'MSFT', 'AMD', 'GE', 'BAC', 'AMZN']

# extend() 

method adds the elements in list2 to the end of the list.
multiple elements to the list.

In [96]:
stock_list.append(['TSLA', 'GE', 'NFLX'])

In [97]:
stock_list

['NVDA',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX']]

# List Manipulation

In [98]:
# Inserting an element at index position 1.

In [99]:
stock_list.insert(1, 'AAPL')

In [100]:
stock_list

['NVDA',
 'AAPL',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX']]

In [101]:
# Removing the element 'AAPL'

In [102]:
stock_list.remove('AAPL')

In [103]:
stock_list

['NVDA',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX']]

In [104]:
# Again removing the element 'AAPL'.
# This line will throw an error as there is no element
# 'AAPL' the list.

In [105]:
stock_list.remove('AAPL')

ValueError: list.remove(x): x not in list

In [106]:
# pop() : This function removes and returns the last item in the list.

In [107]:
# Without providing index position as an argument. Returns
# and removes the last element in the list.

In [108]:
stock_list.pop()

['TSLA', 'GE', 'NFLX']

In [109]:
stock_list

['NVDA', 'GOOG', 'TSLA', 'MSFT', 'AMD', 'GE', 'BAC', 'AMZN']

In [110]:
# Providing an index position as an argument. Returns and
# removes the element from the specific location.

In [111]:
stock_list.pop(2)

'TSLA'

In [112]:
stock_list

['NVDA', 'GOOG', 'MSFT', 'AMD', 'GE', 'BAC', 'AMZN']

In [113]:
# # index(element) : Returns the index of the first item whose value is
# element provided in an argument. Python will throw an error if there
# # is no such item.

In [114]:
stock_list.index('GOOG')

1

In [115]:
stock_list.index('GE')

4

In [116]:
#  count(element) : Returns the number of times element appears in the list

In [117]:
# Count the element 'GOOG'

In [118]:
stock_list.count('GOOG')

1

In [119]:
# Appending the same list with 'GOOG'

In [120]:
stock_list.append('GOOG')

In [121]:
stock_list

['NVDA', 'GOOG', 'MSFT', 'AMD', 'GE', 'BAC', 'AMZN', 'GOOG']

In [122]:
# Again, counting the element 'GOOG'

In [123]:
stock_list.count('GOOG')

2

In [125]:
# sort() : When called, this method returns the sorted list. The sort operation will be in place.

In [126]:
# Sorting the list. The same list will be updated.

In [127]:
stock_list.sort()

In [128]:
stock_list

['AMD', 'AMZN', 'BAC', 'GE', 'GOOG', 'GOOG', 'MSFT', 'NVDA']

In [130]:
# reverse() : This method reverses the elements of the list and the operation performed will be in place.

In [131]:
# Reversing the elements within the list.

In [132]:
stock_list.reverse()

In [133]:
stock_list

['NVDA', 'MSFT', 'GOOG', 'GOOG', 'GE', 'BAC', 'AMZN', 'AMD']

#  Dictionaries

A Python dictionary is an unordered collection of items. It stores data
in key-value pairs. A dictionary is like a phone-book where we can find
the phone numbers or contact details of a person by knowing only
his/her name i.e. we associate names (keys) with corresponding details
(values). Note that the keys must be unique just like the way it is
in a phone book i.e. we cannot have two persons with the exact same name.

In [134]:
# Creating an empty dictionary using {}

In [135]:
tickers = {}

In [136]:
type(tickers)

dict

In [137]:
# Creating an empty dictionary using the dict() method

In [138]:
tickers = dict()

In [139]:
type(tickers)

dict

In [140]:
tickers = {'GOOG' : 'Alphabet Inc.', 'AAPL' : 'Apple Inc.', 'MSFT' : 'Microsoft Corporation'}

In [141]:
tickers

{'GOOG': 'Alphabet Inc.',
 'AAPL': 'Apple Inc.',
 'MSFT': 'Microsoft Corporation'}

In [142]:
ticker = {'symbol' : 'AAPL', 'price' : 224.95, 'company' : 'Apple Inc', 'founded' : 1976, 'products' : ['Machintosh', 'iPod',
                                                                                                        'iPhone', 'iPad']}

In [144]:
ticker

{'symbol': 'AAPL',
 'price': 224.95,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad']}

# nested dictionary

In [148]:
tickers = {'AAPL' : {'name' : 'Apple Inc.','price' : 224.95}, 'GOOG' : {'name' : 'Alphabet Inc.','price' : 1194.64}}

In [149]:
tickers

{'AAPL': {'name': 'Apple Inc.', 'price': 224.95},
 'GOOG': {'name': 'Alphabet Inc.', 'price': 1194.64}}

In [150]:
# # Keys in a dictionary should be unique. If we supply the same key for multiple
# pairs, Python will ignore the previous value associated with the key
# and only the recent value will be stored.

In [151]:
same_keys = {'symbol' : 'AAPL', 'symbol' : 'GOOG'}

In [152]:
same_keys

{'symbol': 'GOOG'}

In [153]:
# Accessing the symbol name

ticker['symbol']

'AAPL'

In [154]:
# Accessing the ticker price

ticker['price']

224.95

In [155]:
# Accessing the product list

ticker['products']

['Machintosh', 'iPod', 'iPhone', 'iPad']

In [156]:
# Accessing the item at position 2 in the product list.

ticker['products'][2]

'iPhone'

In [157]:
# Accessing the first nested dictionary from the 'tickers' dictionary


tickers['AAPL']

{'name': 'Apple Inc.', 'price': 224.95}

In [158]:
# Accessing the price of 'GOOG' ticker using chaining operation.

tickers['GOOG']['price']

1194.64

# Altering dictionaries

A value in a dictionary can be updated by assigning a new value to its
corresponding key using the assignment operator =.

In [159]:
ticker['price']

224.95

In [160]:
ticker['price'] = 226

In [161]:
ticker['price']

226

In [164]:
ticker['founders'] = ['Steve Jobs', 'Steve Wozniak', 'Ronald Wayne']

# adding new key value pair in old dict

In [165]:
ticker

{'symbol': 'AAPL',
 'price': 226,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad'],
 'founders': ['Steve Jobs', 'Steve Wozniak', 'Ronald Wayne']}

In [166]:
del(ticker['founders'])

In [167]:
ticker

{'symbol': 'AAPL',
 'price': 226,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad']}

In [168]:
len(ticker)

5

# items() : This method returns a object containing all times in the calling object.

In [170]:
ticker.items()

dict_items([('symbol', 'AAPL'), ('price', 226), ('company', 'Apple Inc'), ('founded', 1976), ('products', ['Machintosh', 'iPod', 'iPhone', 'iPad'])])

# keys() : This method returns all keys in the calling dictionary.

In [172]:
ticker.keys()

dict_keys(['symbol', 'price', 'company', 'founded', 'products'])

# values() : This method returns all values in the calling object

In [174]:
ticker.values()

dict_values(['AAPL', 226, 'Apple Inc', 1976, ['Machintosh', 'iPod', 'iPhone', 'iPad']])

# pop() : This method pops the item whose key is given as an argument

In [176]:
tickers.pop('GOOG')

{'name': 'Alphabet Inc.', 'price': 1194.64}

# copy() : As the name suggests, this method copies the calling dictionary to another dictionary

In [178]:
aapl = ticker.copy()

In [179]:
aapl

{'symbol': 'AAPL',
 'price': 226,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad']}

# clear() : This method empties the calling dictionary.

In [181]:
ticker.clear()

In [182]:
ticker

{}

# update() : This method allows to add new key-pair value from another dictionary.

In [184]:
ticker1 = {'NFLX' : 'Netflix'}

In [185]:
ticker2 = {'AMZN' : 'Amazon'}

In [186]:
new_tickers = {}

In [187]:
new_tickers.update(ticker1)

In [188]:
new_tickers.update(ticker2)

In [189]:
new_tickers

{'NFLX': 'Netflix', 'AMZN': 'Amazon'}

# SETS

A set is an unordered and unindexed collection of items. 

It is a collection data type which is mutable, iterable and contains no duplicate values. 

A set in Python represents the mathematical notion of a set.

No Indexation

Only Unique value

In [191]:
universe ={'GOOG', 'AAPL', 'NFLX', 'GE'}

In [192]:
universe

{'AAPL', 'GE', 'GOOG', 'NFLX'}

In [193]:
universe.add('AMZN')

In [194]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [195]:
# Python won’t add the same item again nor will it throw any error

In [196]:
universe.add('AMZN')

In [197]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [198]:
universe.add('GOOG')

In [199]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

# UPDATE - 

In order to add multiple items, we use the update() method with new items
to be added within a list.

In [200]:
universe.update(['FB', 'TSLA'])

In [201]:
universe

{'AAPL', 'AMZN', 'FB', 'GE', 'GOOG', 'NFLX', 'TSLA'}

In [202]:
len(universe)

7

In [203]:
universe.remove('FB')

In [204]:
universe.discard('TSLA')

In [205]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [206]:
# If we try to remove an item using the remove() which is not present in the set, Python will throw an error.

In [207]:
universe.remove('FB')

KeyError: 'FB'

In [208]:
# The discard() method will not throw any error if we try to discard an item which is not present in the set.

In [209]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [210]:
universe.discard('FB')

In [211]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [212]:
# We use the clear() method to empty the set.

In [213]:
universe.clear()

In [214]:
universe

set()

# union() method: 

This method allows performing a union between sets. 

This operation returns all elements within both sets.

In [215]:
tech_stocks = {'AMD', 'GOOG', 'AAPL', 'WDC'}

In [216]:
fin_stocks = {'BAC', 'BMO', 'JPLS'}

In [217]:
# Performs the 'union` operation

In [218]:
universe = tech_stocks.union(fin_stocks)

In [219]:
# 'universe' contains all elements of both sets

In [220]:
universe

{'AAPL', 'AMD', 'BAC', 'BMO', 'GOOG', 'JPLS', 'WDC'}

# intersection() method: 

This method performs the intersection between sets. 

It returns only elements which are available in both sets.

In [222]:
# Only elements present in the 'universe' set and 'fin_stocks` are returned.

In [223]:
universe.intersection(fin_stocks)

{'BAC', 'BMO', 'JPLS'}

# difference() method: 

This method performs the difference operation and returns a set containing all elements of the calling object but
not including elements of the second set.

In [225]:
# All elements of the 'universe' set is returned except  elements of the 'fin_stock'

In [226]:
universe.difference(fin_stocks)

{'AAPL', 'AMD', 'GOOG', 'WDC'}

# issubset() method: 

This method checks whether all elements of calling set is present within a second set or not. 

It returns true if the calling set is subset of the second set, false otherwise.

In [227]:
# True, as the 'universe' contains all elements of the 'fin_stocks'

In [228]:
fin_stocks.issubset(universe)

True

# isdisjoint() method: 

This method checks for the intersection between two sets. 
It returns true if the calling set is disjoint and not intersected with the second set, false otherwise

In [229]:
# True, none of the set contains any element of each other

In [230]:
fin_stocks.isdisjoint(tech_stocks)

True

In [231]:
# False, the 'universe' set contains elements of the 'fin_stocks' set

In [232]:
fin_stocks.isdisjoint(universe)

False