 # as keyword

used to create an alias,

In [2]:
import calendar as c

In [3]:
c.isleap(2019)

False

# Assert Keyword

it used while Debugging Code.

It allows us to check if condition in code returns True, if not python will raise an AsserationError.

If condition is True, no output is displayed

In [4]:
stock = "Tech"

In [5]:
assert stock == "Tech"

In [6]:
assert stock == "Infy"

AssertionError:

# Break Keyword

It used to break a for loop and while loop.

In [7]:
# A for loop that will print from 0 to 9, break when i will be greater than 3.

In [34]:
for i in range(10):
    
    if i > 3:
        
        break
        print(i)

# Class Keyword

It use to create a Class

In [16]:
class stock():
    name = "tech"
    price = 224.60

In [17]:
s1 = stock()

In [18]:
s1.name

'tech'

In [19]:
s1.price

224.6

# Continue Keyword

It used to end the current iteration in a for loop or while loop, and continues to the next iteration.

In [20]:
# A for loop for (0,9) when i will be 4, iteration will continue without checking further

In [22]:
for i in range(10):
    if i == 4:
        continue
    else:
            print(i)

0
1
2
3
5
6
7
8
9

# Def Keyword

It used to create/ Define a function within Python.

In [36]:
def python_function():
    print("hello! This is a Python Funtion.")

In [37]:
python_function()

hello! This is a Python Funtion.

# Del Keyword

It is used to delete Objects. It can also be used to delete variable ,lists, or elements from data structures, etc

In [38]:
# Define the variable "a"

In [39]:
a = "Hello"

In [40]:
a

'Hello'

In [41]:
# Del the variable "a"

In [42]:
del(a)

In [43]:
a

NameError: name 'a' is not defined

# IF , ELIF , ELSE Keyword

The if keyword is used as a logical test between boolean expression(
s). If the boolean expression evaluates to True, the code following
the ’if’ condition will be executed.


The elif keyword is used to define multiple if conditions. It is also
referred to as ’else if’. If the expression evaluates to True, the code
following the condition will be executed.


The else keyword is used to define the code block that will be executed
when all if conditions above it fail. It does not check for any
condition, it just executes the code if all the conditions above it fail.

In [60]:
number = 5
if number < 5:
    print('Number is less than 5')
elif number == 5:
        print('Number is equal to 5')
else:
        print('Number is greater than 5')

Number is equal to 5

# False Keyword

The False keyword is used to represent the boolean result false. It
evaluates to 0 when it is cast to an integer value.

In [62]:
buy_flag = False

In [63]:
int(False)

0

# True Keyword

The True keyword is used to represent the boolean result true. It evaluates
to 1 when cast to an integer value.

In [64]:
buy_flag = True

In [66]:
int(True)

1

# For Keyword

It used to define the For loop

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

# Import Keyword

It used to import Libraries and modules in to current program code.

In [68]:
import pandas
import numpy

# From Keyword

It is used to import specific modules from the libraries

In [69]:
from pandas import DataFrame

In [70]:
from datetime import time

In [71]:
from math import floor

# IS Keyword

The is keyword is used to test if two variables refers to the same object
in Python. It returns true if two variables are same objects, false
otherwise.

In [72]:
stock_list = ['GOOG', 'MSFT', 'NFLX', 'TSLA']

In [73]:
y = stock_list

In [74]:
stock_list is y

True

In [75]:
y is stock_list

True

In [76]:
stock_list.reverse() # Reversing elements in the 'stock_list' also reverses elements in the 'y' as both are same.

In [77]:
y

['TSLA', 'NFLX', 'MSFT', 'GOOG']

# LAMBDA Keyword

The lambda keyword is used to create a small anonymous function
in Python. It can take multiple arguments but accepts only a single
expression.

In [78]:
# Creates an anonymous function that adds two values provided by 'x' and 'y'

In [79]:
addition = lambda x, y : x +y

In [80]:
addition(5,2)

7

In [81]:
substraction = lambda x , y : x - y

In [82]:
substraction(80,50)

30

# NONE Keyword

The None keyword is used to define a null value, or no value at all. It
is not same as 0, False, or an empty string. None is represented by a
datatype of NoneType.

In [83]:
x = None

In [84]:
type(x)

NoneType

# OR Keyword

The or keyword is a logical operator used to check multiple conditional
statements and it returns True if at least one statement is True,
False otherwise.

In [85]:
(5 > 3) or (4 < 2)

True

#      OPERATORS

# Arithmetic operators

+ : This is an addition operator used to perform the addition between
values.

In [86]:
5+3

8

- : This is a subtraction operator used to perform the subtraction between
operands.

In [87]:
5-2

3

* : This is a multiplication operator used to multiply the operands.

In [88]:
5*8

40

% : This is a modulus operator. It returns the remainder of the division
operation.

In [90]:
16%5

1

** : This operator is used to perform the exponentiation operation,
sometimes referred to as the raised to power operation. This essentially
performs the operation of raising one quantity to the power of another
quantity.

In [91]:
2 ** 3

8

In [92]:
3 ** 8

6561

// : This operator is used to perform the floor division operation and
it returns the integer output.

In [93]:
10 // 4

2

 Normal division operation

In [94]:
10 / 4

2.5

# Comparison operators

It works
with almost all data types in Python and returns either True or False.

In [95]:
a = 5

b = 3

x = 5

y = 8

== : This is an equal to operator used to check whether two values are
equal or not. It returns true if values are equal, false otherwise.

In [96]:
a == x

True

In [97]:
y == a

False

!= : This is a not equal to operator and works exactly opposite to the
above discussed equal to operator. It returns True if values are not
equal, and false otherwise.

In [98]:
a!= x

False

In [99]:
y!= b

True

# > : 
This is a greater than operator used to check whether one value is
greater than another value. It returns true if the first value is greater
compared to the latter, false otherwise

In [100]:
y > x

True

In [101]:
a > b

True

# > : 
This is a greater than operator used to check whether one value is
greater than another value. It returns true if the first value is greater
compared to the latter, false otherwise

In [102]:
y < x

False

In [103]:
b < y

True

# >= :
This is a greater than or equal to operator used to check whether
one value is greater than or equal to another value or not. It returns
true if the first value is either greater than or equal to the latter value,
false otherwise.

In [105]:
a >= x

True

In [106]:
y>= a

True

In [107]:
b>= x

False

# <= : 
This is a less than or equal to operator used to check whether one
value is less than or equal to another value or not. It returns true
if the first value is either less than or equal to the latter value, false
otherwise.

In [108]:
a <= x

True

In [109]:
y <= a

False

# Logical operators

# and :
This operator compares multiple conditional statements and returns
true if all statements results in true, and false if any statement is
false.

In [111]:
5 == 5 and 3 < 5

True

In [112]:
8 >= 8 and 5 < 5

False

In [113]:
5 > 3 and 8 == 8 and 3 <= 5

True

# or : 
This operator compares multiple conditional statements and returns
true if at least one of the statements is true, and false if all statements
are false.

In [114]:
5 == 5 or 3 > 5

True

In [115]:
3 <= 3 or 5 < 3 or 8 < 5

True

In [116]:
3 < 3 or 5 < 3 or 8 < 5

False

# not : 
This operator reverses the result. It returns true if the result is
false, and vice versa.

In [117]:
3 == 3

True

In [118]:
not 3 == 3

False

In [119]:
3 != 3

False

In [120]:
not 3 != 3

True

# Bitwise operator

Bitwise operators are used to compare and perform logical operations on binary
numbers.

Binary Number are represented by combinations of 0 and 1.

# & : 

This is a bitwise AND operator that returns 1 only if both of its inputs are 1, 0 otherwise.

In [121]:
 201 & 15

9

# | :
This is a bitwise OR operator that returns 1 if any of its inputs are 1,0 otherwise

In [122]:
201 | 15

207

# ^: 

This is a bitwise XOR operator that returns 1 only if any one of its input is 1, 0 otherwise

In [123]:
201 ^ 15

198

# ~ : 

This is a bitwise NOT operator. It is an unary operator that take
only one input and inverts all the bits of an input, and returns the
inverted bits

# << : 
    
This is a bitwise left shift operator. It takes two inputs: number to
operate on and number of bits to shift. It shifts bits to the left by pushing
zeros in from the right and let the leftmost bits fall off.

In [124]:
15 << 2

60

In [125]:
2 << 2

8

In [126]:
1 << 1

2

# >> : 

Similar to the left shift operator, we have a shift right operator
that shifts bits right and fills zero on the left. While shifting bits to
right, it let the rightmost bits fall off and add new zeros to the left.

In [127]:
201 >> 2

50

In [128]:
20 >> 5

0

In [129]:
1 >> 1

0

# Assignment operators

# = : 
This operator assigns the value on its right side to the operand on
its left.

In [130]:
a = 10
b = 50

In [131]:
a, b = 10 , 50

In [133]:
a , b = 10 , 30 , 80 #Number of operands on both sides should  be same.

ValueError: too many values to unpack (expected 2)

# += :

This operator adds the operand on the right side with the operand
on the left side and assigns the result back to the same operand on the
left side.

In [134]:
a += 2

In [135]:
a

12

# -= : 

This operator subtracts the operand on the right side with the
operand on the left side and assigns the result back to the same
op

In [136]:
b -= 5

In [137]:
b

45

# /= : 

This operator divides the operand on the left side by the operand
on the right side and assigns the result back to the same operand on
the left side.

In [138]:
a /= 5

In [139]:
a

2.4

In [140]:
x = 10
x /= 2

In [141]:
x

5.0

# %= :

This operator performs the division operation between operands
and assigns the remainder to the operand on the left.

In [142]:
a = 5
a %= 2

In [143]:
a

1

# **= : 

This operator performs the exponential operation between
operands and assigns the result to the operand on the left.

In [144]:
a **= 5

In [145]:
a

1

In [148]:
b **= 2

In [149]:
b

2025

In [150]:
45 * 45

2025

# //= : 
    
This operator divides the left operand with the right operand
and then assigns the result (floored to immediate integer) to the
operand on the left.

In [151]:
x = 25
x //= 4
x

6

In [152]:
z = 100
z //= 25
z

4

# &= : 

This operator performs the bitwise ’AND’ operation between the
operands and then assigns the result to the operand on the left side.

In [153]:
a = 0   # & operation results into 0 as one operand is 0 and the other is 1.

a &= 1

In [154]:
a

0

In [156]:
z = 5
z &= 5
z

5

# Membership operators

# in : 
This operator returns True if a value exists in a sequence, False otherwise.

In [157]:
stock_list = ['GOOG', 'MSFT', 'AMZN', 'NFLX']

In [158]:
'GOOG' in stock_list

True

In [159]:
'AAPL' in stock_list

False

# not in : 
    
This operator returns True if a value does not exists in a sequence, False otherwise.

In [160]:
'AAPL' not in stock_list

True

In [161]:
'GOOG' not in stock_list

False

# Identity operators

# is : 
This operator returns True if both operands are identical, False otherwise.

In [163]:
a = 3
b = 5

In [164]:
a is b

False

In [165]:
x = 3
z = x

In [166]:
z is x

True

# is not : 
This operator returns True if both operands are not on same memory location, False otherwise.

In [167]:
stock_list = ['AMZN', 'NFLX']

In [168]:
my_list = ['AMZN', 'NFLX']

In [169]:
stock_list is my_list

False