Numpy an acronym for Numerical Python, is a package to perform scientific computing in python efficiently.
It includes Random number generation , functions for basic linear algebra, fourier transforms as well as .

In [1]:
import numpy as np

# Numpy Arrays

In [2]:
# Calculating PCR through Numpy arrays

In [3]:
put_vol = [52.89, 45.14, 63.84, 77.1,74.6]

In [4]:
call_vol = [49.51,50.45, 59.11,80.49,65.11] # volume in lacs

In [5]:
n_put_vol = np.array(put_vol)

In [6]:
n_call_vol = np.array(call_vol)

In [7]:
pcr = n_put_vol/n_call_vol

In [8]:
pcr

array([1.06826904, 0.89474727, 1.0800203 , 0.95788297, 1.14575334])

In [9]:
# Creating lists

In [10]:
list1 = [1,2,3]

In [11]:
list2 = [5,6,4]

In [12]:
# adding two lists
# adding list together only paster two columns and generate a list with 6 elements.

In [13]:
list1 + list2

[1, 2, 3, 5, 6, 4]

In [14]:
# Creating Arrays

In [15]:
arr1 = np.array([1,2,3])

In [16]:
arr2 = np.array([5,6,4])

In [17]:
arr1+ arr2  # in array if we do + it will add sum element wise in arrays

array([6, 8, 7])

In [18]:
arr3 = np.array([1,2,4,6])

In [20]:
arr2 + arr3 # as u can see if element size is not equal it will through error

ValueError: operands could not be broadcast together with shapes (3,) (4,)

In [21]:
# checking array type

In [23]:
type(arr1)  # ndarray stands for N-Dimensional Array

numpy.ndarray

In [24]:
# Creating 2 Dimensional array

In [25]:
n_2d = np.array([put_vol , call_vol])

In [26]:
n_2d

# n2d is rectagunlar data structure.

array([[52.89, 45.14, 63.84, 77.1 , 74.6 ],
       [49.51, 50.45, 59.11, 80.49, 65.11]])

# Array creation using Built In function

# Zeros(shape, dtype = flaot)

returns an array of given shape and type, filled with zeros. if the dtype is not provided as an input, the default type for the 
array would be float

In [27]:
# Creating one - dimenional array

In [28]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [29]:
# Creating a 2 dimensional array

In [30]:
np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [31]:
# Creating a one dimensional array of integer type

In [32]:
np.zeros(5, dtype = int)

array([0, 0, 0, 0, 0])

# Ones(shape, dtype = float)

returns an array of given shape and type filled with ones.

In [33]:
# Creating a one dimensional array

In [35]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [36]:
np.ones(5, dtype = int)

array([1, 1, 1, 1, 1])

# Full(shape, fill_value, dtype = None)

returns an array of given shape and type, fill with fill_value given in input parameters

In [37]:
#Creating a one dimensional array wwith value as 12

In [38]:
    np.full(5,12)

array([12, 12, 12, 12, 12])

In [39]:
# creating a 2 dimensional array with fill value as 9

In [40]:
np.full((2,4),9)

array([[9, 9, 9, 9],
       [9, 9, 9, 9]])

# arange([start,]stop,[step])

returns an array with evenly spaced values within a given interval. if start and step parameter are not given then range start with 0.

In [41]:
# Creating an array with only stop argument

In [42]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [43]:
# Creating an array with start and stop arguments

In [44]:
np.arange(5,12)

array([ 5,  6,  7,  8,  9, 10, 11])

In [45]:
# creating an array with given interval and step value as 0.5

In [46]:
np.arange(3,8,0.5)

array([3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5, 7. , 7.5])

# Linespace(start, stop, num=50, endpoint = True)

returns evenly spaced numbers over a specified interval. The number of samples to be returned is specified with the num parameter. the endpoint of the interval can optionally be excluded.

In [47]:
# Creating an evenly spaced array with five numbers within interval 2 to 3

In [48]:
np.linspace(2.0, 3.0, num = 5)

array([2.  , 2.25, 2.5 , 2.75, 3.  ])

In [49]:
# creating an array excluding end value

In [50]:
np.linspace(2.0, 3.0, num = 10, endpoint = False)

array([2. , 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9])

# Random Sampling in NumPy

# rand([d0, d1,.......dn])

it is used to create an array of given shape and populate it with random number from a uniform distribution over [0,1)

it takes only positive arguments.

if no argument is proivde singl float value is returned

In [51]:
# Generating single random number

In [52]:
np.random.rand()

0.8583298730600777

In [53]:
# Generating a one-dimensional array with four random values

In [54]:
np.random.rand(4)

array([0.46253717, 0.06733674, 0.77642649, 0.73177917])

In [55]:
# Generating a two-dimensional array

In [56]:
np.random.rand(2,4)

array([[0.06565772, 0.05413737, 0.03729521, 0.06140483],
       [0.81505667, 0.75699644, 0.08936201, 0.43982339]])

# Randn([d0, d1, ........., dn])

it is used to create an array of given shape and populate it with random samples from a Standard Normal Distributions.

It takes only positive arguments.

it generate an array of shape (d0,d1,...dn) filled with random floats sampled from a univariate normal distributin of mean 0 and variance 1.

In [57]:
# Generating a random sample

In [59]:
np.random.randn()

0.1256447819690873

In [60]:
# Generating a two-dimensional array over N(0, 1)

In [61]:
np.random.randn(2,3)

array([[ 1.70754934,  0.19729667,  0.25837501],
       [-0.06589353,  0.74858993,  0.23723355]])

In [62]:
# Generating a two-dimensional array over N(3, 2.25)

In [63]:
1.5 * np.random.randn(2, 3) + 3

array([[-0.02253821,  1.19317793,  4.50062625],
       [ 2.94954213,  3.99457488,  3.25381432]])

# randint(low, high=None, size=None) 

returns a random integerfrom a discrete uniform distribution with limits of low (inclusive)and high (exclusive). 

If high is None (the default), then results are from 0 to low. 

If the size is specified, it returns an array of the specified size.

In [64]:
# Generating a random integer between 0 and 6

In [65]:
np.random.randint(6)

2

In [66]:
# Generating a random integer between 6 and 9

In [67]:
np.random.randint(6,9)

6

In [69]:
# Generating a one-dimensional array with values between 3 and 9

In [70]:
np.random.randint(3, 9, size=5)

array([5, 8, 5, 4, 7])

In [71]:
# Generating a two-dimensional array with values between 3 and 9

In [72]:
np.random.randint(3, 9, size=(2, 5))

array([[6, 4, 4, 4, 4],
       [7, 3, 4, 3, 3]])

# random(size=None) 
returns a random float value between 0 and 1
which is drawn from the continuous uniform distribution.

In [73]:
# Generating a random float

In [74]:
np.random.random()

0.18403646961200215

In [75]:
# Generating a one-dimensional array

In [76]:
np.random.random(3)

array([0.36949628, 0.36639434, 0.31435777])

In [77]:
# Generating a two-dimensional array

In [78]:
np.random.random((3, 2))

array([[0.38078854, 0.49950409],
       [0.35252601, 0.31766313],
       [0.49449794, 0.83923734]])

# binomial(n, p, size=None) 

returns samples drawn from a binomial distribution with n trials and p probability of success 

where n is greater than 0 and p is in the interval of 0 and 1.

In [79]:
# Number of trials, probability of each trial

In [80]:
n, p = 1, .5

In [81]:
n

1

In [82]:
p

0.5

In [83]:
# Flipping a coin 1 time for 50 times

In [84]:
samples = np.random.binomial(n, p, 50)

In [85]:
samples

array([0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0])

# normal(mu=0.0, sigma=1.0, size=None) 

draws random samples from a normal (Gaussian) distribution. 

If no arguments provided, a sample will be drawn from N(0, 1).

In [86]:
# Initialize mu and sigma

In [87]:
mu, sigma = 0, 0.1

In [88]:
# Drawing 5 samples in a one-dimensional array

In [89]:
np.random.normal(mu, sigma, 5)

array([-0.00384193,  0.04872532,  0.10061345,  0.05492212, -0.07763597])

In [90]:
# Drawing 10 samples in a two-dimensional array of shape(2,5)

In [92]:
np.random.normal(mu,sigma , (2,5))

array([[ 0.09471777,  0.02023277,  0.15786408, -0.13918716,  0.00147994],
       [ 0.00085172, -0.03596726,  0.02118338,  0.10932999,  0.11555939]])

# uniform(low=0.0, high=1.0, size=None) 

draws samples from a uniform distribution over the interval 0 (including) and 1 (excluding),

if no arguments are provided.

In other words, any value drawn is equally likely within the interval.

In [93]:
# Creating a one-dimensional array with samples drawn within [-1, 0)

In [94]:
np.random.uniform(-1, 0, 10)

array([-0.69166518, -0.78420305, -0.63541296, -0.9039508 , -0.81429181,
       -0.25460778, -0.165036  , -0.6871107 , -0.92253596, -0.60844986])

In [95]:
# Creating a two-dimensional array with samples drawn within [0, 1)

In [96]:
np.random.uniform(size=(5, 2))

array([[0.42433967, 0.39141409],
       [0.08626282, 0.17937663],
       [0.92818758, 0.68660598],
       [0.28790994, 0.75448588],
       [0.75872427, 0.3972708 ]])

# Array Attributes and Methods

# ndim attribute

displays the number of dimensions of an array. 

Using this attribute on n_call_vol and pcr, we expect dimensions to be 1 and 2 respectively.

In [98]:
# Checking dimensions for n_call_vol array

In [100]:
n_call_vol.ndim

1

In [101]:
n_2d.ndim

2

# shape- 

returns a tuple with the dimensions of the array. 

It may also be used to reshape the array in-place by assigning a tuple of array dimensions to it.

In [102]:
# Checking the shape of the one-dimensional array

In [103]:
n_put_vol.shape

(5,)

In [104]:
# Checking shape of the two-dimensional array

In [106]:
n_2d.shape #It shows 2 rows and 5 columns

(2, 5)

In [107]:
# Printing n_2d with 2 rows and 5 columns

In [108]:
n_2d

array([[52.89, 45.14, 63.84, 77.1 , 74.6 ],
       [49.51, 50.45, 59.11, 80.49, 65.11]])

In [109]:
# Reshaping n_2d using the shape attribute

In [110]:
n_2d.shape = (5, 2)

In [111]:
# Printing reshaped array

In [112]:
n_2d

array([[52.89, 45.14],
       [63.84, 77.1 ],
       [74.6 , 49.51],
       [50.45, 59.11],
       [80.49, 65.11]])

# size -

returns the number of elements in the array.

In [113]:
n_call_vol.size

5

In [114]:
n_2d.size

10

# dtype - 

returns the data-type of the arrayâ€™s elements. 

NumPy comes with its own data type just like regular built-in data types such as int, float, str, etc.

In [115]:
n_put_vol.dtype

dtype('float64')

In [116]:
# Creating a one-dimensional array with 1000 samples drawn from a normal distribution

In [117]:
samples = np.random.normal(5, 1.5, 1000)

In [118]:
samples

array([5.93981557, 6.62266485, 4.9714569 , 2.39913983, 6.46169518,
       4.11719498, 5.65139704, 3.74162038, 7.19281355, 3.02953253,
       4.6696602 , 5.32780457, 5.2531047 , 6.54464079, 3.43007919,
       4.70523036, 5.6436826 , 5.0318642 , 3.83477327, 3.03206062,
       4.63434465, 7.22523607, 5.85539768, 5.19341311, 5.32246107,
       7.09583785, 3.69241887, 5.52368491, 5.65965566, 6.74814692,
       4.77710839, 4.54246049, 5.14500841, 6.1185663 , 6.83076297,
       5.04228316, 3.57280823, 6.59860081, 5.84874369, 5.32185439,
       2.30184827, 2.59913331, 3.21150671, 2.76181495, 4.24833801,
       5.3538549 , 4.93015483, 5.11237527, 2.35064507, 3.6963147 ,
       4.39206795, 5.90273168, 4.48285962, 4.10449263, 5.17951033,
       4.26402373, 2.68324972, 5.2533202 , 5.86742924, 4.20181632,
       3.87361673, 4.52061225, 6.50430308, 4.88508113, 3.13335312,
       3.60092879, 5.04390133, 3.82871314, 7.31726056, 5.69196119,
       2.80524626, 3.152751  , 4.82430524, 4.74735606, 5.69798305,
       3.54000056, 3.79518189, 6.08221055, 2.5737329 , 4.15364689,
       4.32613338, 5.63769786, 3.99853776, 6.14150532, 3.25495957,
       5.26995108, 1.830689  , 4.29414225, 3.45698542, 6.56034756,
       3.94277308, 2.78266518, 5.6341272 , 2.81254432, 3.93602844,
       7.69832997, 2.53075516, 6.24784338, 5.2558388 , 5.11556422,
       7.03586203, 4.56970546, 3.00595554, 5.04951141, 6.08943463,
       5.42306699, 6.44683988, 4.62938481, 5.6607996 , 6.28547079,
       6.45369182, 4.4099071 , 2.55853008, 4.5966629 , 4.63776013,
       4.58576022, 3.87155306, 3.3702199 , 3.79459942, 3.26957605,
       4.01968871, 3.20432089, 4.32506747, 5.56359102, 5.92508293,
       5.13052467, 4.81845452, 2.32805727, 3.96185344, 6.29660592,
       5.3790934 , 5.86070755, 4.62122138, 5.87878189, 3.92198882,
       2.31482632, 7.48657329, 4.6271107 , 5.72762062, 4.51939905,
       5.17581937, 4.26970581, 3.71606071, 3.73104813, 6.234178  ,
       3.7013792 , 5.86093878, 3.48036273, 3.30116945, 5.24809716,
       5.96022704, 4.5944305 , 4.29620722, 3.97866795, 5.08094556,
       4.60846059, 7.26202486, 6.0801504 , 4.8479547 , 2.38879189,
       6.39683545, 6.97789207, 5.89729008, 3.82728818, 3.84280476,
       3.55499643, 4.25991573, 5.46201043, 6.7066481 , 5.93804061,
       5.43626462, 6.24334495, 3.32895093, 3.81780744, 3.70952301,
       6.34755535, 6.04062895, 6.52835356, 4.26109115, 5.79054775,
       3.76960878, 5.52758228, 4.34682054, 5.03756265, 7.06255053,
       2.3530635 , 6.66597211, 3.70973575, 3.36201287, 3.41842506,
       5.23636192, 4.41306021, 6.87944488, 6.15941715, 4.3569761 ,
       8.04741356, 2.76855403, 5.10943453, 6.92574996, 6.93496434,
       1.7436204 , 5.84599017, 4.94726274, 2.99361551, 5.75399048,
       4.31536993, 3.11568382, 4.69591814, 4.12660619, 6.80683823,
       7.73270671, 4.92686872, 2.8363186 , 5.06672029, 3.89588313,
       3.82055232, 2.88398975, 6.00201773, 2.85505976, 1.96508224,
       4.36470644, 5.17062871, 6.26312154, 7.43404243, 6.75436187,
       5.19783538, 8.00560497, 4.88377483, 5.67066894, 6.60631647,
       5.62927782, 5.54396973, 3.44016856, 8.42152604, 4.25081795,
       7.6725823 , 3.56030227, 4.70943673, 4.2590236 , 5.28370308,
       5.7006076 , 4.62911833, 5.33278096, 3.67450852, 5.33367493,
       3.48447287, 6.03888014, 3.2214467 , 2.82241954, 5.62342811,
       7.01377513, 5.59055762, 6.45081541, 4.07987355, 5.99672579,
       5.16243992, 4.76635371, 5.62942188, 4.12542305, 2.34440448,
       5.29730241, 5.68199256, 4.32302378, 7.69438248, 3.89549472,
       4.67910832, 6.22787923, 8.52808268, 4.90056662, 5.94225218,
       3.45670665, 6.29049823, 2.76074656, 3.19792581, 6.18485799,
       5.35920644, 4.07251879, 2.94692119, 5.83055601, 6.88690327,
       4.79950762, 5.47958223, 4.47207362, 3.64184725, 4.22384051,
       3.37750584, 4.15384168, 5.47522627, 5.10068786, 4.16847142,
       8.6453798 , 3.4982314 , 4.19559131, 5.47741121, 4.94737439,
       3.91674884, 6.97593437, 4.47047568, 6.7355693 , 8.14657032,
       6.2840843 , 2.56661047, 4.33875342, 6.68339614, 7.06055291,
       5.23850177, 4.86382796, 5.69536028, 2.70474702, 5.80315626,
       4.2580609 , 3.42541559, 5.28531303, 4.18416396, 3.64239015,
       5.20347535, 5.9937766 , 1.93131817, 4.9543633 , 4.80954778,
       4.36980064, 4.11547891, 6.22399532, 5.35809967, 5.8994969 ,
       5.04634537, 6.70723261, 4.79533155, 4.29771233, 3.54037255,
       4.08109204, 4.21917777, 2.25323969, 6.31213864, 4.57443401,
       6.73764023, 5.02930826, 6.07482656, 3.69086913, 5.43330557,
       3.33806676, 3.36618847, 4.89865929, 5.20309738, 3.8312305 ,
       6.83450758, 4.80016632, 3.65523147, 6.73476911, 4.21222395,
       4.37736573, 4.94706854, 4.71975254, 4.02038652, 5.24782565,
       4.12594644, 3.74058211, 4.03025446, 4.76744661, 2.98243325,
       4.64176516, 1.98186536, 6.91846467, 5.51382818, 4.78268285,
       5.53106811, 5.42037303, 3.13009554, 2.65521003, 5.52479988,
       4.51328257, 7.61326726, 5.50671242, 6.33832554, 6.14768719,
       8.30226759, 4.61370989, 3.51348002, 6.60388099, 5.67866319,
       5.70014962, 8.09150964, 4.59880873, 3.96907271, 3.13886676,
       4.22027239, 3.86408966, 4.92563449, 6.3303509 , 3.81896949,
       4.66959807, 4.89423171, 5.36341228, 6.29059652, 3.98119169,
       5.68178327, 5.48959586, 4.49400175, 5.05363158, 3.65159329,
       5.32603264, 5.44978021, 3.73428996, 6.49956469, 1.34508168,
       5.21208786, 2.76188655, 5.89426344, 5.14447888, 7.76453863,
       3.75431321, 2.28068622, 4.94962985, 5.68506426, 8.53798005,
       6.05775816, 6.33315177, 3.07921886, 3.10861584, 5.15739042,
       2.66124217, 3.86083178, 5.38354478, 4.41396765, 5.42336968,
       6.09690608, 6.55069838, 4.60337089, 5.26009469, 4.4161194 ,
       5.27083149, 2.9285558 , 3.73718512, 4.227907  , 5.17463611,
       7.53966484, 3.7693633 , 1.51249863, 4.72712409, 5.3388773 ,
       3.64896666, 5.26084417, 4.35893701, 3.25915989, 7.06974866,
       5.05047504, 5.30356811, 2.96702627, 5.09090224, 7.93241451,
       5.53542925, 7.22847258, 3.63707373, 3.46810132, 4.83575651,
       6.64554942, 5.3625615 , 5.34548157, 3.09371713, 5.7643419 ,
       6.09036569, 6.3182146 , 8.99819362, 6.25751804, 5.69634768,
       4.68036683, 7.01742505, 3.37791694, 6.33118255, 4.15267182,
       3.27199488, 7.64113895, 5.58253606, 6.6271575 , 4.75325099,
       4.19089142, 3.36162558, 4.85644383, 4.73749706, 4.83081866,
       5.09547946, 7.0010269 , 4.34320376, 4.57161228, 3.57959928,
       2.17103432, 5.46022398, 4.73516987, 6.4626137 , 5.87079019,
       6.38161558, 4.41976616, 6.85825326, 3.64249396, 5.77166436,
       2.92483155, 5.55266107, 7.15124082, 5.23059686, 5.44957346,
       3.37195602, 5.58842782, 5.69884511, 5.3746802 , 5.60116526,
       5.76592026, 5.73808152, 4.20296936, 5.55963887, 2.34549505,
       3.55228299, 3.38883878, 4.32825659, 6.35133813, 3.74664243,
       2.10713717, 4.58074439, 6.72804476, 4.23794328, 3.29988784,
       4.66432844, 6.23937271, 3.73423819, 7.30915965, 5.98941611,
       4.43301464, 4.49142764, 5.91400278, 3.4888425 , 2.58581191,
       4.121848  , 4.56263845, 6.16355244, 3.94900302, 3.2868171 ,
       4.5851401 , 5.41147829, 6.15877754, 5.10990795, 4.44808004,
       4.54600775, 6.67244489, 3.56086353, 3.5406405 , 6.94741934,
       2.65158878, 4.25171028, 7.04060407, 6.46931577, 3.32681276,
       6.96121381, 3.58117564, 8.48439785, 7.97326306, 4.56360454,
       5.77791754, 5.01831884, 4.40072283, 6.72595239, 6.52636497,
       2.82918172, 5.30856426, 3.3011722 , 5.45880097, 4.57222501,
       4.83613926, 4.12491253, 5.23694016, 3.64071278, 9.39495414,
       5.38797539, 4.8757612 , 6.59462185, 5.09140211, 6.48761859,
       5.75390945, 4.39040986, 6.17272963, 4.16246796, 8.56249358,
       3.91451716, 7.26667178, 4.89134852, 5.45048178, 6.31401669,
       4.26568239, 3.17064648, 3.63679912, 5.24877098, 4.83052914,
       4.67989502, 6.32086424, 4.28932415, 6.85477218, 5.24854728,
       6.0203906 , 5.42795947, 1.86219325, 6.03613212, 3.11196018,
       2.68871181, 6.76825631, 3.97852242, 4.0896952 , 5.69283246,
       6.47670452, 4.46645296, 4.68937107, 4.28084916, 6.132163  ,
       5.27811191, 3.3183525 , 7.45814206, 3.80682335, 7.30442198,
       3.86633327, 2.92362971, 5.48204186, 3.70231609, 3.20995238,
       3.57694427, 6.76157294, 3.37480796, 3.99279715, 4.08406131,
       3.0424674 , 5.45555691, 4.92536353, 6.78602784, 6.38207693,
       2.63652681, 5.55573654, 4.69656407, 3.94742299, 4.72581493,
       5.05644814, 4.53932957, 3.2178247 , 2.7418211 , 2.04246928,
       3.88003256, 6.21633088, 7.40761815, 2.85456957, 4.90322062,
       6.46943322, 3.68456992, 3.06518817, 8.22975131, 5.88779373,
       5.29869834, 5.16600922, 4.01096343, 6.90932127, 6.53306666,
       3.89913929, 4.9172712 , 4.40703286, 4.89614283, 6.23178701,
       4.75702779, 4.3979244 , 3.99464075, 7.63067083, 6.36106225,
       4.39782902, 6.0985162 , 3.78437318, 2.93082645, 4.71164896,
       7.18139826, 3.1953509 , 3.01450163, 6.15219282, 3.69178222,
       6.15252267, 6.03868597, 0.64331597, 6.20710484, 5.24692599,
       8.0371695 , 2.01230029, 6.4251513 , 4.02521232, 3.93617814,
       4.03110674, 4.82358925, 2.67682562, 7.32950979, 5.09296225,
       5.41361614, 5.80444925, 5.98782162, 3.56838175, 4.95000752,
       6.41641251, 4.79691252, 7.27143447, 6.025427  , 4.18339063,
       2.79331542, 2.63061475, 6.02418713, 4.75083009, 5.22682664,
       3.47800575, 5.59904627, 7.07569198, 6.11018835, 3.52358121,
       8.09603098, 5.01955234, 2.23010978, 7.66683262, 0.24288206,
       7.87297172, 6.40817848, 6.55545625, 4.00388146, 3.03799118,
       7.07986626, 1.85147151, 5.6558515 , 5.02695929, 5.7865288 ,
       5.67901512, 5.26176094, 2.54619438, 4.05759272, 4.99274722,
       5.57424637, 3.40134724, 6.15984886, 5.31554166, 4.79350677,
       6.44301969, 4.0319165 , 5.56514128, 5.08132907, 4.07730733,
       5.22114841, 6.16697559, 4.26928835, 1.98281066, 5.76604455,
       4.81874078, 5.67486529, 5.82390374, 4.49042278, 3.89580723,
       7.50627209, 4.95492407, 4.67527547, 1.55678228, 7.87408413,
       2.37408635, 3.44041029, 3.4311126 , 5.41654849, 6.37181536,
       3.63419764, 8.46384274, 5.21349639, 4.71104255, 6.38857043,
       6.14522105, 6.51892715, 5.33429344, 6.8433428 , 6.23788941,
       3.07717752, 6.63649972, 3.39792951, 6.86848356, 5.96964898,
       4.1313297 , 3.22913451, 5.68388415, 5.79241042, 5.36486308,
       5.04939644, 6.08248423, 6.79677629, 6.1939662 , 5.31094861,
       4.24534071, 2.10352401, 2.59916265, 4.42719533, 6.7277548 ,
       3.95170522, 4.8522347 , 4.83698756, 3.7558573 , 5.03429054,
       9.42856752, 6.12530557, 4.54445468, 5.7957394 , 5.72001437,
       3.52172019, 4.16924391, 6.67080604, 3.08370328, 3.68090287,
       4.81250187, 6.66312447, 6.032311  , 6.34474323, 3.33989002,
       6.38853183, 3.90471284, 3.2530924 , 6.1108841 , 5.7451116 ,
       2.98549335, 6.84649022, 5.07772119, 6.42647813, 5.31693428,
       4.53090367, 6.48778087, 5.54510574, 4.66208383, 4.21423059,
       2.41961917, 7.81155808, 3.70692098, 5.87995185, 5.6559533 ,
       4.34346552, 5.02362809, 5.0845124 , 6.76457672, 6.94787527,
       8.86589338, 5.27978812, 2.40134422, 4.95607823, 3.50348767,
       4.17454839, 1.80168595, 7.59325459, 4.04258152, 4.9959946 ,
       3.03084461, 6.28317987, 4.94717725, 6.51483951, 7.83663893,
       5.31416371, 3.24768021, 6.31279105, 4.73989022, 4.69451377,
       4.07920876, 2.30451643, 4.54878283, 4.25462335, 8.08777713,
       7.49741348, 6.9199411 , 6.96816101, 6.24465337, 2.33029925,
       3.33800627, 4.19522283, 1.62177655, 4.19895767, 2.97358765,
       4.33248747, 6.35414521, 5.01270804, 4.53549842, 6.00951385,
       5.88554663, 4.21497361, 7.05467349, 4.49045988, 5.16942165,
       4.904255  , 5.82900092, 6.89884767, 6.84887929, 5.07127403,
       5.3762685 , 3.54321269, 6.19325296, 3.03730251, 4.62067427,
       6.5317744 , 6.85669692, 3.37609425, 5.79281964, 4.38328604,
       2.4302    , 6.27098583, 3.42135183, 4.25983949, 4.46530354,
       4.69385945, 7.51404084, 4.28130636, 7.91501619, 8.53636388,
       6.63935652, 5.60244764, 3.57069984, 4.02459024, 5.98867419,
       5.99219509, 4.94577454, 2.74388985, 6.11213234, 4.85978843,
       4.51297692, 5.40232341, 2.62223979, 5.40927781, 4.60454645,
       4.20125637, 4.25690817, 6.23830486, 4.44550921, 3.89854629,
       1.97464356, 6.96875926, 6.31274547, 3.69072254, 4.96215183,
       5.28732889, 5.21556408, 5.39897919, 5.51250683, 3.9511433 ,
       5.16275137, 6.52071846, 6.16827244, 5.76539731, 7.1930366 ,
       5.45644855, 2.46301281, 7.0595668 , 5.55195033, 1.184307  ,
       8.396848  , 6.97279452, 4.75556033, 5.9392569 , 4.55354109,
       3.45570614, 6.82646648, 4.35282543, 6.11565934, 4.65923153,
       4.98715072, 1.08871746, 2.83994428, 5.44700167, 6.45641784,
       3.73816281, 4.43735215, 6.28113489, 5.79003892, 6.42935807,
       5.99619308, 3.83536295, 1.81162197, 5.0126408 , 4.32634301,
       3.97188211, 4.74974681, 9.04527242, 5.85819157, 7.11411063,
       4.9804362 , 5.43539612, 7.44867144, 4.12638623, 3.9415072 ,
       4.13583548, 7.39266697, 4.89493621, 3.89622004, 4.8761904 ,
       2.61260389, 6.24955261, 4.72356185, 5.72795366, 2.19891172,
       4.78542291, 5.37676898, 5.02636683, 4.92259238, 6.81783224,
       3.86421427, 4.69291968, 6.52854574, 6.97360088, 7.34547669])

In [120]:
# Creating a two-dimensional array with 25 samples drawn from a normal distribution

In [121]:
samples_2d = np.random.normal(5, 1.5, size=(5, 5))

In [122]:
samples_2d

array([[3.72976422, 5.0313259 , 3.56590859, 4.15442596, 5.82378816],
       [5.25057295, 5.76852545, 0.93164827, 6.91798959, 6.61197358],
       [5.81695803, 2.8479014 , 3.01669612, 5.079474  , 4.36180945],
       [4.52613336, 5.30363246, 6.15363666, 4.27597284, 9.47040976],
       [4.76120558, 3.26829582, 4.02473314, 5.91296293, 3.97225747]])

# mean(a, axis=None) - 

returns the average of the array elements. 

The average is computed over the flattened array by default, otherwise over the specified axis.

# average(a, axis=None) -

returns the average of the array elements and works similar to that of mean().

In [123]:
# Computing mean

In [124]:
np.mean(samples)

4.969254525309065

In [125]:
np.average(samples)

4.969254525309065

In [126]:
# Computing mean with axis=1 (over each row)

In [127]:
np.mean(samples_2d, axis=1)

array([4.46104257, 5.09614197, 4.2245678 , 5.94595702, 4.38789099])

In [128]:
np.average(samples_2d, axis=1)

array([4.46104257, 5.09614197, 4.2245678 , 5.94595702, 4.38789099])

# max(a, axis=None)-

returns the maximum of an array or maximum along an axis.

In [129]:
np.max(samples)

9.428567518137106

In [130]:
np.max(samples_2d, axis=1)

array([5.82378816, 6.91798959, 5.81695803, 9.47040976, 5.91296293])

# median(a, axis=None)-

returns the median along the specified axis.

In [131]:
np.median(samples)

4.949818682382427

In [132]:
np.median(samples_2d)

4.761205577591258

# min(a, axis=None) -

returns the minimum of an array or minimum along an axis.

In [133]:
np.min(samples)

0.2428820649769028

In [134]:
np.min(samples_2d, axis=1)

array([3.56590859, 0.93164827, 2.8479014 , 4.27597284, 3.26829582])

# var(a, axis=None) -

returns the variance of an array or along the specified axis.

In [135]:
np.var(samples)

2.1544427450774575

In [136]:
np.var(samples_2d)

2.61855093756904

In [137]:
# The variance is computed over each column of numbers

In [138]:
np.var(samples_2d, axis=0)

array([0.49153992, 1.35361967, 2.82881378, 1.07962995, 3.84663427])

# std(a, axis=None) -

returns the standard deviation of an array or along the specified axis.

In [139]:
np.std(samples)

1.4678020115388375

In [140]:
np.std(samples)

1.4678020115388375

# sum(a, axis=None) -

returns the sum of array elements.

In [141]:
# Computing sum of all elements within n_put_vol

In [142]:
n_put_vol

array([52.89, 45.14, 63.84, 77.1 , 74.6 ])

In [143]:
np.sum(n_put_vol)

313.57

In [144]:
# Computing sum of all array over each row

In [145]:
samples_2d

array([[3.72976422, 5.0313259 , 3.56590859, 4.15442596, 5.82378816],
       [5.25057295, 5.76852545, 0.93164827, 6.91798959, 6.61197358],
       [5.81695803, 2.8479014 , 3.01669612, 5.079474  , 4.36180945],
       [4.52613336, 5.30363246, 6.15363666, 4.27597284, 9.47040976],
       [4.76120558, 3.26829582, 4.02473314, 5.91296293, 3.97225747]])

In [146]:
np.sum(samples_2d, axis=1)

array([22.30521283, 25.48070983, 21.122839  , 29.72978509, 21.93945494])

# cumsum(a, axis=None) -

returns the cumulative sum of the elements along a given axis

In [147]:
np.cumsum(n_put_vol)

array([ 52.89,  98.03, 161.87, 238.97, 313.57])

In [148]:
# Using np. format to compute the sum

In [149]:
np.sum(samples)

4969.254525309065

In [150]:
# Calling sum() directly on a NumPy object

In [151]:
samples.sum()

4969.254525309065

# Array Manipulation

In [152]:
a = np.array([1, 2, 3])

In [153]:
b = np.array([3, 3, 3])

In [154]:
a * b

array([3, 6, 9])

In [155]:
c= np.array([1, 2, 3])

In [156]:
d = 3

In [157]:
c * d

array([3, 6, 9])

# sqrt(*args) -

returns the positive square-root of an array, elementwise.

In [158]:
# Computing square roots of a given array

In [159]:
np.sqrt([1, 4, 9, 16, 25])

array([1., 2., 3., 4., 5.])

# vstack(tup) -

stacks arrays provided via tup in sequence vertically (row wise).

# hstack(tup) -

stacks arrays provided via tup in sequence horizontally (column wise).

# column_stack(tup) -

stacks 1-dimensional arrays as column into a 2- dimensional array. It takes a sequence of 1-D arrays and stacks them
as columns to make a single 2-D array.

In [160]:
# Creating sample arrays

In [162]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.array([7, 8, 9])

In [163]:
# Stacking arrays vertically

In [164]:
np.vstack((a, b, c))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [165]:
# Stacking arrays horizontally

In [166]:
np.hstack((a, b, c))

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [167]:
# Stacking two arrays together

In [168]:
np.column_stack((a, b))

array([[1, 4],
       [2, 5],
       [3, 6]])

In [169]:
# Stacking three arrays together

In [170]:
np.column_stack((a, b, c))

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

# transpose() -

permutes the dimensions of an array.

In [171]:
# Creating a two-dimensional array with shape (2, 4)

In [172]:
a = np.arange(8).reshape(2, 4)

In [173]:
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [174]:
# Transposing the array

In [175]:
a.transpose()

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])