# Python as a Calculator

In [1]:
# Addition

5 + 3

8

In [2]:
# Substraction

5 - 3

2

In [3]:
# Multiplication

5 * 3

15

In [4]:
# Divison  (Float)

5/3

1.6666666666666667

In [5]:
# Modulo

5 % 2

1

In [7]:
# Divison (Integer operator)
5 // 3

1

In [8]:
# Composite Expression  (order of evaluation - LEFT TO RIGHT)

5+3-3+4   # 5 + 3 = 8 - 3 = 5 + 4 = 9

9

In [10]:
 5 + 3 * 3  - 4  
# (*) OPERATOR HAVE HIGH PRIORITY SO FIRSTLY MULTIPLY THEN OTHER.

10

In [11]:
# BRACKETS HAVE PRIORITY

(5 + 3) * ( 3 - 4)

-8

In [12]:
# Negation (operator in - known as negation)

-(5+3)

-8

In [13]:
# Floating Point Addition

5.0 + 3

8.0

In [15]:
#Floating Point Multiplication 

5.0 * 3

15.0

In [17]:
# Floating Point Exponential

5.0 ** 3

125.0

In [18]:
# type() is an in - built function
type(5)

int

In [19]:
type(5.0)

float

In [20]:
type(5.0 ** 3)

float

In [21]:
# Convert the type

In [23]:
float(5)

5.0

In [24]:
int(5.0)

5

In [25]:
type(int(0.5))

int

In [26]:
# Round() function

In [27]:
round(5.9)

6

In [28]:
round(5.98765, 2) # comma is used to seperate the argumnts in the function call

5.99

In [29]:
# AbS() # it takes one numerical argumne tand return its abspolute value

In [30]:
abs(-5)

5

In [31]:
abs(5)

5

In [32]:
abs(5.0)

5.0

In [33]:
5e1

50.0

In [34]:
5e-1

0.5

In [35]:
5e2

500.0

# STRINGS

In [36]:
# STRINGS ARE IMMUTABLE

In [40]:
month_name = 'Fanurary'

In [41]:
month_name[2] = 'B'

TypeError: 'str' object does not support item assignment

# PRINT() Function

In [42]:
# simple print

print("Hello World!")

Hello World!

In [43]:
# Concatenating string and integer literal

print("January" , 2010)

January 2010

In [44]:
# Concatenating two strings

print("AAPL" , "is the stock ticker of Apple Inc.")

AAPL is the stock ticker of Apple Inc.

In [50]:
# Concatenating a variable and string
stock_name = "MSFT"

print(stock_name + " is the stock name of Microsfot Corporation.")

MSFT is the stock name of Microsfot Corporation.

# F- Strings (Formatted String Literal)

In [51]:
# Such strings preceded by the letter f indicating that it be formatted when we use variables names between curly brackets{}

In [53]:
print(f' The stock ticker for Apple Inc is {stock_name}.')

 The stock ticker for Apple Inc is MSFT.

# % Formatting style

# %s - it used for sting literal

# %f - is used to specify flaot literal

# %.2f - is used to limit two digits after the decimal point

In [58]:
price = 226.41
print("%s currently trading at %.2f." % (stock_name, price))

MSFT currently trading at 226.41.

# Format() function

In [61]:
stock_ticker = 'AAPl'
price = 226.41

print('We are interested in {X} which is currently trading at {Y}'.format(X = stock_ticker , Y = price))

We are interested in AAPl which is currently trading at 226.41

In [63]:
print('We are interested in {0} which is currently trading at {1}'. format(stock_ticker, price))

We are interested in AAPl which is currently trading at 226.41

# Escape Sequence

In [64]:
# we can not use 3 single quote or 3 double quote together as python gets confuse where to start an end

In [65]:
'That's really easy'

SyntaxError: invalid syntax (<ipython-input-65-5469c900366c>, line 1)

# backslash character (\)

In [68]:

'That\'s really easy.'

"That's really easy."

 
# \n - Breaking single line into multiple line .

In [70]:
print('That is really easy. \nYes, it really is.')

That is really easy.
Yes, it really is.

# \t - It is use to leave tab spaces between strings.

In [71]:
print('AAPl. \tNIFTY50. \tDJIA. \tNIKKEI225.')

AAPl. 	NIFTY50. 	DJIA. 	NIKKEI225.

# INDENTATION

Whitespaces are important in Python.
Whitespaces at the start of the line is called indentation.
it is used to mark the start of a new code block. 
also statements which go together must have same indentation.